<div class="theater">
	<div class="backdrop">
		<div class="leftcurtain"><%= image_tag("frontcurtain2.jpg") %></div>
		<div class="rightcurtain"><%= image_tag("frontcurtain2.jpg") %></div>
		<div class="sign">Searching...<%= image_tag("hand.png") %></div>
		<div id="screen">
			<div id="splash">
				<div class="span6">
					<div id="top_buttons" class="row">
						<span class="pull-left btn btn-large btn-warning"><b>Amazon</b></span>
						<div id="amazonarrow"></div>
						<span class="pull-right btn btn-large btn-success"><b>Hulu</b></span>
						<div id="huluarrow"></div>
					</div>
					<div style="clear: both;"></div>
					<div id="devices" class="row">
						<%= image_tag("computer-screen.jpg", :height => 100) %>
						<%= image_tag("tablet-and-mobile-phone.jpg", :height => 100) %>
						<%= image_tag("laptop.jpg", :height => 100) %>
					</div>
					<div style="clear: both;"></div>
					<div id="bottom_buttons" class="row">
						<span class="pull-left btn btn-large btn-info"><b>iTunes</b></span>
						<div id="itunesarrow"></div>
						<span class="pull-right btn btn-large btn-danger"><b>Netflix</b></span>
						<div id="netflixarrow"></div>
					</div>
					<div id="headline">
						<h2>All Your Services, All in One Place</h2>
						<p>Search and manage all your favorite streaming video from one queue</p>
					</div>
				</div>
			</div>
			<%= form_tag('http://localhost:9292/search/', :id => "search_form", :method => :get, :remote => true, :class => "form-search") do |f| %>
				<div class="control-group">
					<div class="controls">
						<%= search_field_tag 'search_query', nil, :placeholder => "Name of Movie or TV Show", :class => "input-medium search-query span4" %>
						<%= link_to "Search", :id => "search_submit", :class => "btn btn-primary" do %>
							<i class="icon-search icon-white"></i>&nbsp;Search
						<% end %>
						<p class="help-block">Please enter a movie or TV show</p>
					</div>
				</div>
			<% end %>
			<div id="top_result"></div>
			<div id="mixed_results"></div>
		</div>
	</div>
	
	<div id="column-seating">
		<div style="clear: both;"></div>
		<div id="col1"></div>
		<div id="col2"></div>
		<div id="col3"></div>
		<div id="col4"></div>
		<div style="clear: both;"></div>
		<script type="text/html" id="result_template">
			<div class="result back shadow row{{n}}">
				<div class="plate">{{service}}</div>
				{{#failed}}
				<div class="info">
					<h4 class="no_data">{{service}} Search Error</h4>
				</div>
				{{/failed}}
				{{^failed}}
				<a href={{link}}>
				<div class="info">
					<img src="{{image}}">
					<div class="desc">
						<h4>{{title}}</h4><br/>
						{{#price}}
							{{price}}<br/>
						{{/price}}
						{{#series}}
							{{series}}, Episode {{episode}}
						{{/series}}
					</div>
					<div style="clear: both;"></div>
				</div>
				</a>
				{{/failed}}
			</div>
		</script>
		<script type="text/html" id="netflix_template">
			<div class="result back shadow row{{n}}">
				<div class="plate">Netflix</div>
				<a href={{link}}>
				<div class="info">
					<img src="{{image}}">
					<div class="desc">
						<h4>{{title}}</h4><br/>
						{{type}}
						<ul>
							{{#instant}}<li>Instant</li>{{/instant}}
							{{#DVD}}<li>DVD</li>{{/DVD}}
							{{#Blu-ray}}<li>Blu-ray</li>{{/Blu-ray}}
						</ul>
					</div>
					<div style="clear: both;"></div>
				</div>
				</a>
			</div>
		</script>
		<script type="text/html" id="empty_template">
			<div class="result back shadow row1">
				<div class="plate">{{service}}</div>
				<div class="info">
					<h4 class="no_data">Not on {{service}}</h4>
				</div>
			</div>
		</script>
		<script type="text/html" id="top_result_template">
			<div id="burst"></div><h3>Top Result</h3>
			<div style="clear: both;"></div>
			<div class="image"><img src="{{image}}"></div>
			<div class="desc">
				<h2>{{title}}</h2>
				<p>{{desc}}</p>
				<div class="links">
					<ul>
						{{#amazon}}
						<a href={{link}}><li class="btn btn-warning"><b>Amazon {{price}}</b></li></a>
						{{/amazon}}
						{{#hulu}}
						<a href={{link}}><li class="btn btn-success"><b>Hulu</b></li></a>
						{{/hulu}}
						{{#itunes}}
						<a href={{link}}><li class="btn btn-info"><b>iTunes {{price}}</b></li></a>
						{{/itunes}}
						{{#netflix}}
						<a href={{link}}><li class="btn btn-danger">
							<b>Netflix 
							{{#instant}}| Instant{{/instant}}
							{{#dvd}}| DVD{{/dvd}}
							{{#bluray}}| Blu-ray{{/bluray}}
							</b></li></a>
						{{/netflix}}
					</ul>
				</div>
			</div>
			<div class="space"></div>
		</script>
		<script type="text/html" id="mixed_results_template">
			<div id="burst"></div><h3>Top Results</h3>
			<div style="clear: both;"></div>
			{{#amazon}}
			<div class="screen_result">
				<img src={{image}}>
				<h4>{{title}}</h4>
				<a href={{link}}><span class="btn btn-warning"><b>Amazon {{price}}</b></span></a>
			</div>
			{{/amazon}}
			{{#hulu}}
			<div class="screen_result">
				<img src={{image}}>
				<h4>{{title}}</h4>
				<a href={{link}}><span class="btn btn-success"><b>Hulu S{{series}}E{{episode}}</b></span></a>
			</div>
			{{/hulu}}
			{{#itunes}}
			<div class="screen_result">
				<img src={{image}}>
				<h4>{{title}}</h4>
				<a href={{link}}><span class="btn btn-info"><b>iTunes S{{series}}E{{episode}} {{price}}</b></span></a>
			</div>
			{{/itunes}}
			{{#netflix}}
			<div class="screen_result">
				<img src={{image}}>
				<h4>{{title}}</h4>
				<a href={{link}}><span class="btn btn-danger">
					<b>Netflix</b>
				</span></a>
			</div>
			{{/netflix}}
			<div style="clear: both;"></div>
			<p>These results are mixed. You'll probably have better luck searching for a specific season rather than an entire show</p>
		</script>
	</div>

	<%= debug(params) if Rails.env.development? %>
	<div class="footer">© Copyright 2012</div>
</div>
<div style="clear: both;"></div>
