<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "One True Queue" %></title>
		<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	  <![endif]-->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
   	<%= yield(:head) %>
		<% if Rails.env.production? %>
		<script type="text/javascript" src="http://use.typekit.com/znd7dib.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<% end %>
  </head>
  <body>
		<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <%= link_to "One True Queue", root_path, :class => "brand" %>
	        <div class="nav-collapse">
	          <ul class="nav pull-right">
							<li><%= link_to "Search", search_path %></li>
	            <% if current_user %>
							<li><a href="#">Help</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle"	data-toggle="dropdown">Settings<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Email/Password</a></li>
								</ul>
							</li>
							<% end %>
	            <li><a href="#">Contact</a></li>
							<% if !current_user %>
							<li><%= link_to "Sign In", signin_path %></li>
							<li><%= link_to "Sign Up", signup_path %></li>
							<% else %>
								<li><%= link_to "Sign Out", signout_path %></li>
							<% end %>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>

		<div class="container">
			<% unless flash.empty? %>
			<div class="row">
				<div class="span12">
					<% flash.each do |name, msg| %>
					  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					    <a class="close" data-dismiss="alert">&times;</a>
					    <%= msg %>
					  </div>
					<% end %>
				</div>
			</div>
			<% end %>
      
			<div class="row">
      <%= yield %>
			</div>
			
			<hr>
			<div class="row">
				<%= debug(params) if Rails.env.development? %>
				<div class="span12 footer">© Copyright 2012</div>
			</div>
		</div>
  </body>
</html>
